*{
    box-sizing: border-box;
}

body{
    display: block;
    background-color: rgb(247, 247, 197);
}

section{
    display: block;
    max-width: 900px;
    border-radius: 12px 12px 0 0;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid rgb(32, 65, 32);
}

img{
    max-width: 100%;
    border: 2px solid rgb(32, 65, 32);
}

h1{
    color: rgb(32, 65, 32);
    font-family: Archivo;
    font-size: 100px;
    text-align: center;

}

h2{
    color: rgb(32, 65, 32);
    font-family: Archivo;
}

p{
    font-family: Roboto;
}

.caption{
    font-size: 12px;
    font-family: Roboto;
    font-style: italic;
    margin-top: 5px;
    text-align: right;
}

a:link{
    text-decoration: none;
    color: rgb(32, 65, 32);
    
}


a:hover{
    text-decoration: none;
    color: brown
}

ul{
    font-family: Roboto;
}

ul li::marker {
    content: "\2714\0020  ";
    color: rgb(32, 65, 32);
    font-size: 12px;
}

/* #date{
    text-align: center;
} */

.credits{
    align-items: center;
}