*{
    box-sizing: border-box;
}

body{
    display: block;
    background-color: rgb(247, 247, 197);
}

section{
    display: block;
    max-width: 900px;
    border-radius: 12px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid rgb(32, 65, 32);
}

img{
    max-width: 100%;
    border: 2px solid rgb(32, 65, 32);
}

h1{
    color: rgb(32, 65, 32);
    font-family: 'Archivo', sans-serif;
    font-size: 100px;
    text-align: center;

}

h2{
    color: rgb(32, 65, 32);
    font-family: 'Archivo', sans-serif;
}

.content{
    padding: 25px;
    font-family: 'Roboto', sans-serif;
}

.caption{
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

a:link{
    text-decoration: none;
    color: rgb(32, 65, 32); 
}

a:hover{
    text-decoration: none;
    color: brown
}

ul {
    font-family: 'Roboto', sans-serif;
}

li {
    padding-left: 15px; 
}

li::marker {
    content: "\1F331";
    color: rgb(32, 65, 32);
    font-size: 15px;
}

#credits{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Archivo', sans-serif;
}

#credits #date {
    margin: 10px;
  }